*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  margin: 0 2% auto;
}

header{
  background-color: #080B12;
  height: 100px;
  width: calc(100% - 200px);
  position: absolute;
  left: 200px;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
}

.my-btn{
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  height: 40px;
  margin-top: 28px;
  margin-right: 5px;
  border-radius: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #080B12;
  border: 1px solid white;
}

.my-btn:focus{
  outline: none;
  background-color: white;
  color: #080B12;
}

aside{
  background-color: black;
  height: calc(100% - 100px);
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

aside img{
  width: 130px;
  padding: 10px;
}

aside ul{
  padding-inline-start: 0;
  padding: 10px;
  margin-bottom: 0;
  list-style: none;
}

aside ul li{
  padding: 5px;
}

aside ul li a{
  color: darkgrey;
}

aside h4{
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  font-weight: 700;
  margin: 0;
  padding-top: 10px;
  padding-left: 15px;
}


a:hover{
  color: white;
  text-decoration: none;
}

a{
  color: darkgrey;
  text-decoration: none;
}

aside hr{
  margin-top: 3px;
  margin-bottom: 3px;
}

.account{
  margin-top: auto;
  color: darkgrey;
}

main{
  background-color: #141922;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  position: absolute;
  left: 200px;
  top: 100px;
  bottom: 100px;
  overflow-y: scroll;
}

footer{
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
}

section{
  margin-bottom: 50px;
}

.menu{
  display: flex;
  justify-content: center;
}

.menu ul li{
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.box{
  display: flex;
  flex-flow: row wrap;
}

 .card{
  width: calc(100% / 6 - 21.962px);
  margin-right: 20px;
}

.card img{
  width: 100%;
  height: 100%;
}

.content{
  max-width: 100%;
}

.song-info{
  height: 100%;
  width: 100%;
  text-align: center;
}

.song-info p{
  color: white;
  font-weight: 700;
  margin: 15px;
}

.song-info span{
  color: darkgrey;
}

.artists{
  border-radius: 50%;
}

.title{
  margin-top: 30px;
  margin-bottom: 30px;
}

.title h2{
  color: white;
  font-weight: 700;
}

.title p{
  color: darkgrey;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.w-25{
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 25%;
  background-color: red;
}

.w-50{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  background-color: blue;
}

.console{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
