*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
}

.container{
  margin: 0 2% auto;
}

header{
  background-color: #080B12;
  height: 100px;
  width: calc(100% - 200px);
  position: absolute;
  left: 200px;
  top: 0;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
}

.my-btn{
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  height: 40px;
  margin-top: 28px;
  margin-right: 5px;
  border-radius: 40px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #080B12;
  border: 1px solid white;
}

.my-btn:focus{
  outline: none;
  background-color: white;
  color: #080B12;
}

aside{
  background-color: black;
  height: calc(100% - 100px);
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

aside *{
  margin-left: 5px;
}

aside img{
  width: 130px;
  padding: 10px;
}

aside ul{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  margin-bottom: 0;
  list-style: none;
}

aside ul li{
  line-height: 2.5;
  font-size: 12px;
}

aside ul li a{
  color: darkgrey;
}

.side-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-menu li{
  line-height: 2.5;
}

.side-menu i{
  font-size: 25px;
  margin-right: 10px;
}

aside h4{
  text-transform: uppercase;
  font-size: 15px;
  color: white;
  font-weight: 0;
  padding-top: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}


a:hover{
  color: white;
  text-decoration: none;
}

a{
  color: darkgrey;
  text-decoration: none;
}

aside hr{
  margin-top: 3px;
  margin-bottom: 3px;
  margin-right: 10px;
}

.account{
  margin-top: auto;
  color: darkgrey;
}

.account i{
  margin-right: 5px;
}

.playlist{
  min-height: 50%;
}

.playlist i{
  font-size: 50px;
  color: darkgrey;
}

.playlist .add{
  display: flex;
  align-items: center;
}


.playlist h4{
  margin-left: 10px;
  line-height: 3;
}

main{
  background-color: #141922;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  position: absolute;
  left: 200px;
  top: 100px;
  bottom: 100px;
  overflow-y: scroll;
}

footer{
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  background-color: #282828;
  position: fixed;
  bottom: 0;
}

section{
  margin-bottom: 50px;
}

.menu{
  padding-top: 10px;
  font-size: 10px;
  text-align: center;
}

.menu ul li{
  display: inline-block;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.menu ul li:hover{
  text-decoration: underline;
}

.box{
  display: flex;
  flex-flow: row wrap;
}

.card{
  width: calc(100% / 6 - 21.962px);
  margin-right: 20px;
}

.card img{
  width: 100%;
  height: 100%;
}

.content{
  max-width: 100%;
}

.song-info{
  height: 100%;
  width: 100%;
  text-align: center;
}

.song-info p{
  color: white;
  font-weight: 700;
  margin: 15px;
}

.song-info span{
  color: darkgrey;
}

.artists{
  border-radius: 50%;
}

.title{
  margin-top: 30px;
  margin-bottom: 30px;
}

.title h2{
  color: white;
  font-weight: 700;
}

.title p{
  color: darkgrey;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.w-25{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 25%;
}

.now-playing{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.np-controls{
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: darkgrey;
}

.np-controls i{
  padding: 5px;
}

.np-controls i:hover{
  color: white;
  cursor: pointer;
}

.w-25 img{
  height: 50px;
  margin: 10px;
}

.w-50{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  align-items: center;
}

.console{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.console i{
  margin: 10px;
  color: white;
}

.console i:hover{
  cursor: pointer;
}

.fa-play-circle{
  font-size: 30px;
}

.song{
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 13px;
}

.song p{
  color: darkgrey;
}

.song p:first-child{
  color: white;
}

.volume{
  display: flex;
  justify-content: flex-end;
}

.volume-controls{
  margin-right: 10px;
  display: flex;
    align-items: center;
}

.volume-controls i{
  color: white;
  margin: 10px;
  justify-content: flex-end;
}

.volume-controls i:hover{
  cursor: pointer;
}

.progress-bar{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar span{
  color: white;
}


.progress-bar input{
  width: 100%;
  height: 5px;
  margin: 10px;
}

.volume-controls input{
  height: 5px;
}

.hover{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}

.hover .fa-play-circle{
  font-size: 60px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.hover:hover img{
  filter: opacity(50%);

}

.artists .hover{
  border-radius: 50%;
}

 .hover:hover .fa-play-circle{
   display: block;
   cursor: pointer;
 }

#mobile{
  display: none;
}

@media all and (max-width: 992px) {
  .container .card {
    width: calc(100% / 4 - 21.962px);
  }
}


@media all and (max-width: 480px){


  .container .card{
    width: calc(100% / 2 - 21.962px);
    margin: 0;
  }
  .content{
    margin: 0;
  }

  header{
    width: calc(100% - 30px);
    left: 30px;
  }

  main{
    left: 30px;
    width: calc(100% - 30px);
  }

  aside{
    width: 30px;
  }

  aside *{
    margin: 0;
  }
  aside ul, aside img, aside .playlist{
    display: none;
  }

  .side-menu{
    display: none;
  }

  #mobile{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  #mobile li{
  line-height: 2;
  font-size: 20px;

  }

  .box{
    display: flex;
    justify-content: space-around;
  }

  .content{
    flex: 1 0;
  }

  footer .volume i{
    display: none ;
  }

  footer .volume input{
    width: 100px;
  }



  footer .np-controls{
    display: block;
    margin-left: 0;
  }

  footer i{
    font-size: 10px;
  }

  footer .fa-play-circle{
    font-size: 20px;
  }

  .progress-bar span{
    font-size: 10px;
  }

  .progress-bar input{
    width: 100px;
  }
}


@media all and (max-width: 650px) and (min-width: 480px){
  .container .card{
    width: calc(100% / 2 - 20px);
  }

  .volume-controls{
    max-width: 100%;
    display: block;
  }

  .volume-controls input{

  }

  .np-controls{
    display: flex;
    flex-direction: column;
  }

  .progress-bar span{
    font-size: 10px;
  }

  .progress-bar input{
    width: 100px;
  }

  .console .fa-play-circle{
    font-size: 25px;
  }

  .console i{
    font-size: 20px;
  }
}

@media all and (max-width: 768px) and (min-width: 650px){
  .container .card{
    width: calc(100% / 4 - 20px);
    margin: 10px;
  }
}
